@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, sans-serif;
}